/aula-22-08-19/build/
/aula-22-08-19/nbproject/private/
/aula-03-09-19 (cópia)/build/
/aula-03-09-19 (cópia)/nbproject/private/
/aula-05-09-19/build/
/aula-05-09-19/nbproject/private/
/aula-10-09-19/dist/
/aula-10-09-19 (cópia)/build/
/aula-10-09-19 (cópia)/dist/
/aula-10-09-19 (cópia)/nbproject/private/
/testeJPA/dist/